body{
    align-items: center;
    background: linear-gradient(#b2e202, #014274);
    display: flex;
    height: 100vh;
    justify-content: center;
}

form{
    align-items: center;
    box-shadow: 0 0 30px #001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    label{
        font-weight: bold;
        margin-top: 10px;
    }
    input:focus{
            outline: #e60000 dotted 3px;
            outline-offset: .05em;
    }
    [type="button"],
    [type="reset"]{
    color: #fafafa;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    }
    [type="button"]{
        background-color: #01d89b;
        border: 3px solid #01d89b;
    }
    [type="reset"]{
        background-color: #03c8cf;
        border: 3px solid #03c8cf;
    }
    #message{
        color: #fafafa;
        font-size: 30px;
        font-weight: bold;
    }
}