body {
  --cube-size: 100px;
  --cube-size-neg: -100px;
  background-color: #080;
  height: 100vh;
  .scene {
    height: calc(var(--cube-size) * 2);
    left: calc(50% - var(--cube-size) * 2);
    margin: var(--cube-size);
    perspective: calc(var(--cube-size) * 3);
    position: absolute;
    top: calc(50% - var(--cube-size) * 2);
    width: calc(var(--cube-size) * 2);
    .cube {
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.6s;
      width: 100%;
      .cube__face {
        background: rgba(255, 0, 0, 0.7);
        border: solid 3px rgba(255, 255, 255, 0.5);
        border-radius: 3%;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      .cube__face--1 {
        transform: rotateY(0deg) translateZ(var(--cube-size-neg));
      }
      .cube__face--2 {
        transform: rotateY(90deg) translateZ(var(--cube-size-neg));
      }
      .cube__face--3 {
        transform: rotateY(180deg) translateZ(var(--cube-size-neg));
      }
      .cube__face--4 {
        transform: rotateY(-90deg) translateZ(var(--cube-size-neg));
      }
      .cube__face--5 {
        transform: rotateX(90deg) translateZ(var(--cube-size-neg));
      }
      .cube__face--6 {
        transform: rotateX(-90deg) translateZ(var(--cube-size-neg));
      }
    }
  }
  .cube.show-1 {
    transform: translateZ(var(--cube-size-neg)) rotateY(-180deg);
  }
  .cube.show-2 {
    transform: translateZ(var(--cube-size-neg)) rotateY(90deg);
  }
  .cube.show-3 {
    transform: translateZ(var(--cube-size-neg)) rotateY(0deg);
  }
  .cube.show-4 {
    transform: translateZ(var(--cube-size-neg)) rotateY(-90deg);
  }
  .cube.show-5 {
    transform: translateZ(var(--cube-size-neg)) rotateX(90deg);
  }
  .cube.show-6 {
    transform: translateZ(var(--cube-size-neg)) rotateX(-90deg);
  }
  .cube.spin {
    transform: scale3d(0.1, 0.1, 0.1);
  }
}